.PlayersList {
  padding-top: 1.5rem;
}

.Player {
  display: flex;
  padding: 1rem;
  border-radius: 1rem;

  background-color: #fff;

  color: #2d1115;

  animation: animation 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  &__image {
    width: 6.4rem;
    height: 5rem;
    margin-right: 1rem;
  }

  &__display-name {
    margin-right: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__first-name {
    color: #7e9181;

    font-size: 1.7rem;
    line-height: 1.47059;
    letter-spacing: -0.022em;
  }

  &__last-name {
    letter-spacing: 0.012em;
    line-height: 1.4211;
    font-size: 1.9rem;
    font-weight: 500;
  }

  &__rest {
    margin-left: auto;
    display: flex;
  }

  &__info {
    min-width: 6.4rem;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    border-left: 1px solid rgba(126, 145, 129, 0.2);

    &--large {
      min-width: 9.6rem;
    }

    &--xl {
      min-width: 20rem;
    }

    @media only screen and (min-width: 768px) {
      padding: 0 1rem;
    }
  }

  &__info-top {
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.47059;
    letter-spacing: -0.022em;
    font-variant: small-caps;
  }

  &__info-bottom {
    color: #2d1115;

    letter-spacing: 0.012em;
    line-height: 1.4211;
    font-size: 1.7rem;
    font-weight: 700;
  }
}

@keyframes animation {
  0% {
    transform: rotateX(-100deg);
    transform-origin: top;
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1;
  }
}
