$blue: #17408b;
$red: #c9082a;
$white: #ffffff;
$black: #2d1115;
$gray: #7e9181;

body {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 1.6rem;
  background-color: #17408b;
  color: #ffffff;
  font-weight: 400;
}

@media only screen and (max-width: 576px) {
  .hide-on-mobile {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .hide-on-small-devices {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  .show-on-large-devices {
    display: none;
  }
}
